@use "../common/variables" as vars;

nav {
  order: 2;
}

.nav__toggle {
  position: relative;
  order: 2;
  z-index: 2;
  display: block;
  width: 70px;
  min-height: 70px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 22px;
}

.nav__toggle:focus {
  outline: 1px solid vars.$decorative;
}

.nav__toggle:hover {
  opacity: 0.75;
}

.nav--closed .nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 24px;
    width: 28px;
    height: 2px;
    background-color: vars.$base-color-text;
  }

  &::before {
    top: 26px;
  }

  &::after {
    top: 42px;
  }
}

.nav--opened .nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 24px;
    width: 28px;
    height: 2px;
    background-color: vars.$base-color-text;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    transition: ease 0.3s;
  }

  &::after {
    transform: rotate(-45deg);
    transition: ease 0.3s;
  }
}

.nav--opened:has(.nav__wrapper) {
  .nav__list {
    background-color: #ffffff;
    transition: ease 0.2s;
  }
}

.nav__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: vars.$base-color;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 101px 15px 0;
  display: flex;
  align-items: left;
  flex-flow: column wrap;
  gap: 11px;
}

.nav__item {
  font-size: 30px;
  font-family: "LoosWide", sans-serif;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.1s ease-in-out;

  .menu-open & {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item:last-child {
  padding-bottom: 36px;
}

.nav__link--current {
  pointer-events: none;
  opacity: 0.75;
}

.nav__link {
  display: inline-block;
}

.nav__link:focus {
  outline: 1px solid vars.$decorative;
}

.nav__link:hover {
  opacity: 0.75;
}

.nav__link:active {
  transform: scale(0.95);
  transition: ease 0.3s;
}

.nav__link--disabled {
  pointer-events: none;
  color: vars.$disabled;
}

@media (min-width: 970px) {
  .nav {
    order: 0;
    margin-left: auto;
    margin-right: 61px;
  }

  .nav__toggle {
    display: none;
  }

  .nav__wrapper {
    position: static;
    background: transparent;
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
    gap: 20px;
    align-items: center;
  }

  .nav__item {
    opacity: 1;
    transform: none;
    font-size: 18px;
  }

  .nav__item:last-child {
    padding-bottom: 0;
  }
}
