@use "../common/variables" as vars;

.price {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 480px;
  margin: 0 auto;
  padding: 60px 15px;
}

.price__title {
  font-size: 38px;
  font-family: "LoosWide", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.38px;
  padding-bottom: 30px;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  background-color: vars.$secondary-decorative;
  border-radius: 32px;
}

.price__details {
  position: relative;
  padding: 30px 30px 41px;
}

.price__details::before {
  position: absolute;
  bottom: 0;
  right: 30px;
  left: 30px;
  height: 1px;
  background-color: vars.$base-color-text;
  opacity: 15%;
  content: "";
}

.price__heading {
  font-size: 30px;
  font-family: "LoosWide", sans-serif;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 30px;
}

.price__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15.6px;
}

.price__item {
  position: relative;
  display: inline-block;
  line-height: 1.35;
  padding-left: 30px;
}

.price__item::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../images/optimized/mark.svg");
  content: "";
}

.price__payment {
  display: flex;
  justify-content: space-between;
  padding: 30.8px 30px 30px;
}

.price__description {
  display: flex;
  flex-direction: column;
  gap: 5.2px;
}

.price__caption {
  font-size: 16px;
}

.price__caption:first-child {
  display: none;
}

.price__description p {
  font-size: 34px;
  font-family: "LoosWide", sans-serif;
  font-weight: 500;
  line-height: 1.02;
}

.price__description p span {
  display: none;
}

.price__payment .button {
  display: block;
  margin: auto 0 0;
  padding: 18px 25px 19px;
}

@media (min-width: 755px) {
  .price {
    max-width: 1019px;
    width: 100%;
  }

  .price__list {
    display: block;
    max-width: 850px;
    margin: 0;
    padding: 0;
    column-count: 2;
    column-gap: 30px;
  }

  .price__caption:first-child {
    display: inline-block;
  }

  .price__description p span {
    display: inline-block;
    text-decoration: line-through;
    padding-left: 20px;
    opacity: 40%;
  }
}

@media (min-width: 1020px) {
  .price {
    max-width: 1219px;
    width: 100%;
  }

  .price__wrapper {
    flex-direction: row;
    min-height: 391px;
  }

  .price__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 76px;
  }

  .price__details::before {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 0;
    height: auto;
    width: 1px;
    background-color: vars.$base-color-text;
    opacity: 15%;
    content: "";
    margin-left: auto;
  }

  .price__payment {
    flex-direction: column;
  }

  .price__description p span {
    padding-left: 0;
  }

  .price__payment .button {
    margin-right: auto;
  }
}

@media (min-width: 1220px) {
  .price {
    max-width: 1440px;
    padding: 60px 40px 80px;
  }

  .price__wrapper {
    justify-content: space-between;
  }

  .price__details {
    width: 872px;
    padding: 31px 30px;
  }

  .price__title {
    font-size: 55px;
    letter-spacing: -0.55px;
    padding-bottom: 49px;
  }

  .price__heading {
    font-size: 34px;
  }

  .price__list {
    margin-bottom: 51px;
    column-gap: 42px;
  }

  .price__item {
    padding-bottom: 10.3px;
  }

  .price__details::before {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: -45px;
    height: auto;
    width: 1px;
    background-color: vars.$base-color-text;
    opacity: 15%;
    content: "";
    margin-left: auto;
  }

  .price__payment {
    padding-top: 30px;
    padding-right: 20px;
  }

  .price__payment .button {
    padding: 18px 26px 19px 25px;
  }

  .price__caption:first-child {
    font-size: 18px;
    font-family: "LoosWide", sans-serif;
    font-weight: 500;
    line-height: 1.4;
  }

  .price__description {
    gap: 5.2px;
  }

  .price__description p span {
    padding-left: 13px;
  }
}
