/* stylelint-disable @stylistic/indentation */
/* здесь используйте глобальные селекторы img, body, html и так далее */
@use "./variables" as vars;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    background-color: vars.$base-color;
    color: vars.$base-color-text;
}

a {
    text-decoration: none;
    color: vars.$base-color-text;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.glass-effect {
    filter: blur(80px);
    background-color: vars.$base-color;
    opacity: 70%;
}

.button {
    font-family: "LoosWide", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: vars.$base-color;
    background-color: vars.$accent;
    border-radius: 50px;
}

.button--state:focus {
    outline: 2px solid vars.$decorative;
}

.button--state:hover {
    opacity: 0.75;
}

.button--state:active {
    transform: scale(0.95);
    transition: ease 0.3s;
}

.button--disabled {
    pointer-events: none;
    background-color: vars.$disabled;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 480px;
    margin: 0 auto;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: vars.$base-color-text;
    width: 100%;
    min-width: 480px;
    margin: 0 auto;
}
