/* здесь используйте глобальные переменные */
$base-color-text: #0d1627;
$base-color: #ffffff;
$accent: #1859ff;
$decorative: #d9f243;
$secondary-decorative: #eef4f6;
$line-color: #dee9ed;
$error: #ff6666;
$disabled: #dde3e5;
